<%= form_with model: @child, local: true, class: "auth-card" do |f| %>
  <div class="field">
    <%= f.label :name, "Prénom" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :date_of_birth, "Date de naissance" %>
    <%= f.date_field :date_of_birth %>
  </div>

  <div class="actions">
    <%= f.submit @child.persisted? ? "Enregistrer" : "Créer", class: "btn-primary" %>
  </div>
<% end %>
